@import url("https://fonts.googleapis.com/css?family=Ephesis");

  body{background-image: url(../Imagenes/Fondos/fondo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

background-image{
  width: 50px; height: 50px;
}

ul{
  list-style-type: none;
  list-style: none;
  display: inline-block;
}

li{
  float: left;

}

li a{
  display: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
}



.Titulo{
  text-align: center;
  font-family: ephesis;
  color: white;
  font-size: 60px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.foto{
  text-align: center;
}

.info{
  display: block;

  padding-top: 19px;
  padding-bottom: 39px;
  padding-right: 10px;
  padding-left: 10px;

  background-color: rgba(98, 100, 102, 0.5);
  
  border-radius: 20px;  

  color: white;

}

