@import url("https://fonts.googleapis.com/css?family=Ephesis");

body{background-image: url(../Imagenes/Fondos/fondo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titulo{
text-align: center;
color: white;
font-size: 50px;
font-family: Ephesis;
letter-spacing: 12px;
animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

ul{
  list-style-type: none;
  list-style: none;
  display: inline-block;
}

li{
  float: left;

}

li a{
  display: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
}

.imagen_1{
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

table{
width: 100%;
text-align: center;
}

td{
  height: 10px;
  padding-bottom: 5px;
  padding-top: 90px;
}

audio{
  text-align: center;
}